<%= link_to("<<Return to Reservation List",reserves_path, :class => 'back-link')%>

<div class="reserves delete">
  <h2>Delete Reservation</h2>

  <!-- <%#= form_for(@subject, :method => 'delete') do |f| %> -->
  <%= form_for(@reserve, :url => reserf_path(@reserve), :method => 'delete') do |f| %>

    <p>Are you sure you want to permanently delete this Reservation?</p>

    <div class="form-buttons">
      <%= f.submit("Delete Reservation") %>
    </div>

  <% end %>
</div>
