
<div class="reserves new">
  <h2>Reserve Item Form</h2>

  <%= form_for(@reserve, :url => reserves_path, :method => 'post') do |f| %>

  <%= render(:partial => 'form', :locals => {:f => f})%>

  <div class="form-buttons">
    <%= f.submit("Reserve") %>
  </div>
  <% end %>
</div>
