<h4 style="padding: 1%">All Blogs</h4>
<% if @blogs.empty? %>
  <h3> There are currently no blogs </h3>
<% else %>
  <div class="blogs-container">
    <%= render 'blog', locals: { blogs: @blogs } %>
  </div>
<% end %>
