<h3 style="padding: 1%; margin-left: 5%">All Blogs</h3>
<% if @blogs.empty? %>
  <h3> There are currently no blogs </h3>
<% else %>
  <div class="blogs-container">
    <%= render 'blog', locals: { blogs: @blogs } %>
  </div>
<% end %>
