var sidebarLink= document.getElementById("testbutton");
var item_container=document.getElementById("category-content");


sidebarLink.addEventListener("click", function(){
  var ourRequest=new XMLHttpRequest();
  ourRequest.open("GET", gon.items,true );
  ourRequest.onload=function() {
    var ourData= gon.items;
    renderHTML(ourData);

    };

  ourRequest.send();
 });


function renderHTML(data){
  console.log(gon.items);
  var htmlString="<div class=\"row\">";
  <%data.each do |data| %>
    htmlString+=
          "<div class=\"col-sm-6 col-md-2\">" +
            "<div class=\"thumbnail\">"
              +"<a href="<%= item_path(data[i])%> >
                +"<img src="+ <%= image_tag(data[i].image.url(:thumb), alt: data[i].name)%>
                +"<div class=\"caption\">"
                  +  <%= data[i].name %> +"<br>"
                +"</div>"
              +"</a>"
            +"</div>"
          +"</div>"
        +<%end%>
      +"</div>"

  item_container.insertAdjacentHTML('beforeend', htmlString);
};
// console.log(gon.items);
