<div class = "all-category-content"> <!-- need this class to add top margin -->
  <%= render partial: 'sidebar'%>
  <%= render partial: 'items_selection'%>
</div>
<%= javascript_include_tag 'item_filter' %>
</div>
