<div class="sidenav">
  <% @categories.each do |category, dict|%>
    <%=link_to category.titleize, category_path(category), id: "category"%>
    <span >
    <% dict.each do |subcategory,subdict|%>
      <%= link_to subcategory.titleize, category_path(subcategory), id:"subcategory"%>
    <%end%>
    </span>
  <% end %>
</div>
