<div id="category-sidebar" class= "sidenav">
  <% @categories.each do |category|%>
    <%=link_to category.titleize, category_path(category)%>
    <% category.each do |subcategory| unless nil%>
      <%= link_to subcategory.titleize, category_path(subcategory)%>
      <%end%>
  <% end %>
</div>
