<div class= "sidenav">
  <h3 id="title">Items</h3>
  <%= link_to "View All", items_path, id:"category"%>
  <% @categories.each do |category, dict|%>
    <hr/>
    <%=link_to category.titleize, category_path(category),id: "category"%>
      <% dict.each do |subcategory,subdict|%>
        <%= link_to subcategory.titleize, category_path(subcategory), id:"subcategory"%>
      <%end%>
    </span>
  <% end %>
</div>
