<div id="category-sidebar" class= "sidenav">
  <div>
    <% @categories.each do |category, dict|%>
      <%=link_to category.titleize, category_path(category)%>
      <% dict.each do |subcategory,subdict|%>
        <%= link_to subcategory.titleize, category_path(subcategory)%>
      <%end%>
    <% end %>
  </div>
</div>
