<div class= "sidenav">
  <h3 id="title">Items</h3>
  <%= link_to "View All", items_path, id:"category"%>
  <% @categories.each do |category, dict|%>
    <%if not_empty(category)%>
      <%=link_to category.titleize, category_path(category),id: "category"%>
    <span>
      <% dict.each do |subcategory,subdict|%>
        <% if not_empty(subcategory)%>
          <%= link_to subcategory.titleize, category_path(subcategory), id:"subcategory"%>
        <% end %>
      <%end%>
      <% if others_not_empty(category) && !dict.empty?%>
        <%= link_to "Others", category_path(category+"+other"), id:"subcategory"%>
      <% end %>

    </span>
    <%end%>
  <% end %>
</div>
