<div class = "all-category-content"> <!-- need this class to add top margin -->
  <%= render 'sidebar'%>
  <div class = 'category-content'> <!-- need this class to add left margin -->
    <div class="row">
      <%@items.each do |item| %>
      <div class="col-sm-6 col-md-2">
        <div class="thumbnail">
          <a href= <%= item_path(item)%> >
            <%= image_tag(item.image.url(:medium), alt: item.name)%>
            <div class="caption">
              <%= item.name %><br>
            </div>
          </a>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
