// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap-sprockets";
@import "bootstrap";

#carousel{
  text-align: center;
  padding: 0px;
  margin: 0px;
  background-size: cover;
}

.carousel,.item,.active{height:100%;}
.carousel-inner{height:100%;}

#slideJumbotron{
  width: 100%;
  padding: 0px;
  margin: 0px;

}

.row{
  text-align: center;
  padding: 10px;
  margin: 20px;
}

#carousel{
  padding: 0px;
  margin: 0px;
}

.full-width-div {
    position: absolute;
    width: 100%;
    left: 0;
}
.my-fluid-container {
  margin-left: auto;
  margin-right: auto;
  margin: 0px;
  padding: 0px;
}

.picSlide1, .picSlide2, .community{
  position: relative;
    width: 100%;
    height:50%;
    margin-left: auto;
    margin-right: auto;
}
.books{
  height: 80%;
  width: 100%;
}

#cart {
  padding-top: 160px;
  padding-bottom: 120px;
  position: absolute;
  cursor: pointer;
  z-index: 1;
}

#psaDisplay {
  border-left: 1px solid black;
}
