// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap-sprockets";
@import "bootstrap";


.carousel,.item,.active{height:100%;}
.carousel-inner{height:100%;}

#slideJumbotron{
  min-width: 100%;
  padding: 0px;
  margin: 0px;

}

//This affects items view and homepage display
.row{
  text-align: center;
  padding: 10px;
  margin: 20px;
}

#carousel{
  padding: 0px;
  margin: 0px;
}

#textbook-caption{
  align-items: center;
}
#col1content{
  padding: 5px; 
}
.full-width-div {
    position: absolute;
    width: 100%;
    left: 0;
}
.my-fluid-container {
  margin-left: auto;
  margin-right: auto;
  margin: 0px;
  padding: 0px;
}

.picSlide1, .picSlide2, .community{
  position: relative;
    width: 100%;
    height:50%;
    margin-left: auto;
    margin-right: auto;
}
.books{
  height: 80%;
  width: 100%;
}

#cart {
  position: absolute;
  cursor: pointer;
  z-index: 1;
  left: -500px;
  padding-top: 10%;

}

#psaDisplay {
  border-left: 1px solid black;
}
