// Place all the styles related to the Items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.thumbnail{
  height: 180px;
}

#closenav{
  display: none;
}

.arrow-icon{
  display: none;
}

.overlay{
  position:fixed;
  display:none;
  width:100%;
  height:100%;
  top:0;
  left:0;
  right:0;
  bottom:0;
  background-color:rgba(0,0,0,0.75);
  z-index:1;
}

.animate-opacity{
  animation:fad 1.2s
}
@keyframes fad{
  from{opacity:0}
  to{opacity:1}
}


.animate-left{
  position:relative;
  animation:animateleft 0.4s
}
@keyframes animateleft{
            from{left:-100%;opacity:0}
            to{left:0;opacity:1}
}


.sidenav{
  display: block;
  position: absolute;
  float: left;
  z-index: 2;
  height: 100%;
  width: 15%;
  top: 0;
  left: 0;
  background-color: #ECF0F1;
  color: #2C3E50;
  overflow-x: hidden;
  padding-top: 50px;

    hr{
      margin: 0px;
      padding-left: 4px;
      padding-right: 4px;
      padding-top: 0px;
      padding-bottom: 4px;
    }
    #category{
      font-size: 14px;
      font-weight: bold;
      padding-top: 6px;
    }

    #subcategory{
      padding-left:50px;
      font-size: 12px;
    }
    #title{
      margin-left: 14px;
      color: #2C3E50;
    }
    a {
      padding: 8px 8px 8px 32px;
      text-decoration: none;
      font-size: 18px;
      color: #2C3E50;
      display: block;
      transition: 0.5s;
      &:hover, .offcanvas &:focus{
        color: #E74C3C;
      }
  }
}

.category-content{
  margin-left: 15%;
  h3 {
    margin: 0 2%;
  }

  .img-thumbnail {
    max-height: 180px;
    border: 1px solid #ccc;
    padding: 0;
    float: left;
    overflow: hidden;
  }

  .img-thumbnail:hover {
    border: 1px solid #777;
  }

  .img-thumbnail img {
    width: 100%;
    max-height: auto;
  }

  .img-caption {
    text-align: center;
    padding: 5px;
  }

  * {
    box-sizing: border-box;
  }

  .col-xs-6, .col-sm-4, .col-md-3, .col-lg-2 {
    padding-top: 15px;
    padding-bottom: 15px;
    z-index: 0;
  }
}

#container{
  margin-right: 0px;
}

amp-sidebar {
    width: 250px;
    padding-right: 10px;
    min-width: 45px;
    overflow-x: hidden;
    overflow-y: auto;

  .amp-sidebar-image {
    line-height: 100px;
    vertical-align:middle;
  }
  .amp-close-image {
    margin: 4px;
     top: 15px;
     left: 225px;
     cursor: pointer;
  }
  .phone-sidebar-content{
    padding-top: 15px;
  }
  li {
    margin-bottom: 20px;
    list-style: none;
  }
  #category{
    font-size: 14px;
    font-weight: bold;
    padding-top: 6px;
  }

  #subcategory{
    font-size: 12px;
  }
}

abbr, accronym{
  border-bottom: 0px !important;
  color: #AA1111; //#808080;
}
