// Place all the styles related to the Items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.thumbnail{
  height: 180px;
}

.required{
  color: #AA1111;
}

.sidenav{
  z-index: 0;
  height: 100%;
  width: 15%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #bfd7ea;
  color: #eb4511;
  overflow-x: hidden;
  padding-top: 100px;

    hr{
      margin: 0px;
      padding-left: 4px;
      padding-right: 4px;
      padding-top: 0px;
      padding-bottom: 4px;
    }
    #category{
      font-size: 14px;
      font-weight: bold;
      padding-top: 6px;
    }

    #subcategory{
      padding-left:50px;
      font-size: 12px;
    }
    #title{
      margin-left: 14px;
      color: #0B3954;
    }
    a {
      padding: 8px 8px 8px 32px;
      text-decoration: none;
      font-size: 18px;
      color: #eb4511;
      display: block;
      transition: 0.5s;
      &:hover, .offcanvas &:focus{
        color: #0B3954;
      }
  }
}

.category-content{
  margin-left: 17%;
}

.all-category-content{
    margin-top: 55px
}
