// Place all the styles related to the Items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.thumbnail{
  height: 180px;
}


.required{
  color: #AA1111;
}

.sidenav{
  height: 100%;
  width: 15%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #c1e199;
  overflow-x: hidden;
  padding-top: 100px;
    #category{
      font-size: 14px;
    }

    #subcategory{
      padding-left:50px;
      font-size: 12px;
    }

    a {
      padding: 8px 8px 8px 32px;
      text-decoration: none;
      font-size: 18px;
      color: #321952;
      display: block;
      transition: 0.5s;
      &:hover, .offcanvas &:focus{
        color: #022b50;
      }
  }
}

.category-content{
  margin-left: 17%;
}

.all-category-content{
    margin-top: 55px
}
