// Place all the styles related to the Item_requests controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// Place all the styles related to the items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap-sprockets";
@import "bootstrap";

table, th, td {
   border: 1px solid black;
}
table{
  margin-top: 10px;
  margin-left: 5%;
  margin-right: 5% ;
  width: 90%;
  th {
    text-align: center;
    background-color: #fc6355;
    color: white;
  }
  td{
    text-align: left;
    padding: 10px;
  }

}

tr:nth-child(even) {background-color: #f2f2f2;}

.field_with_errors{
  @extend .has-error;
  .form-control{
    color: $state-danger-text;
  }

}

#request-form, #form{
  margin-left:10%;
  margin-right: 10%;
  width: 80%;
}
