@media screen and (max-width: 750px) {
  .arrow-icon{
    position: fixed;
    display: block;
    top:50%;
  }

  .sidenav{
    display: none;
    position: fixed;
    width: 60%;
  }

  .category-content{
    margin-left: 10%;
  }
}


@media screen and (min-width: 750px) {
    .sidenav{
      display: block;
    }
}
