.multiple-check-out {

  max-width: 60%;
  margin: auto;

  .valid-SKU {
    color: green;
  }

  .invalid-SKU {
    color: red;
  }

  .start-date {
    display: inline;
    float: left;
    margin-right: 10%
  }

  .buttons {
    clear: both;
    margin: 10px;
  }
}
