.single-item-view {

  .container {
    max-width: 90%;
    margin: auto;
  }

  .item-image {
    border: 2px solid black;
    max-width: 400px;
    margin: 60px 40px 40px;
    overflow: hidden;
    float: left;
  }

  .left-column {
    border-top: 1px solid black;
    clear: left;
  }

  .left-column h5 {
    margin-top: 20px;
    text-align: center;
  }

  .left-column h5 span {
    color: #008000;
  }

  .main-column {
    margin-left: 470px;
    margin-top: 40px;
    padding: 10px;
    text-align: left;
  }

  .item-name, .item-description {
    margin-bottom: 20px;
  }

  .item-description {
    font-size: 18px;
  }

  .item-features {
    font-size: 16px;
    margin-bottom: 40px;
  }

  .links {
    clear: both;
    width: 90%;
    margin: auto;
  }
}
