.single-item-view {

  .container {
    max-width: 85%;
    margin-left: 15%;
  }

  .item-image {
    float: left;
  }

  .item-image img {
    border: 2px solid black;
    overflow: hidden;
    margin: 60px 40px;
  }

  .main-column {
    margin-top: 40px;
    padding: 10px;
    max-width: 55%;
    overflow: auto;
  }

  .item-name, .item-description {
    margin-bottom: 20px;
  }

  .item-description {
    font-size: 1.2em;
  }

  .item-features {
    font-size: 1em;
    margin-bottom: 40px;
  }

  .buttons {
    width: 90%;
    margin: 5% auto;
    text-align: center;
    clear: both;
  }

  @media only screen and (max-width: 1130px) {

    .item-image {
      width: 100%;
      margin: auto;
      clear: both;
      text-align: center;
    }

    .item-image img {
      width: 75%;
      margin: 5% auto;
      clear: both;
    }

    .main-column {
      max-width: 90%;
      margin-left: 10%;
      margin-top: 0px !important;
      clear: both;
    }

    .item-description {
      font-size: 1.1em;
    }

    .item-features {
      font-size: 0.9em;
    }
    .buttons {
      width: 100%;
      margin: auto;
    }
  }

  @media only screen and (max-width: 750px) {
    .container {
      max-width: 100%;
      margin-left: 0;
      margin-top: 5%;
    }
  }
}
