// Place all the styles related to the Static controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$font-stack:    Helvetica, sans-serif;
$primary-color: #333;


html{
  height:100%;
}

body{
  font: 100% $font-stack;
  color: $primary-color;
  min-height:100%;
  padding:0;
  margin:0;
  position:relative;
  background-color: #f0f0f0;
  overflow-x: hidden;
}

body::after{
  content:'';
  display:block;
  height:80px;
 }

footer{
  padding: 15px;
  background-color: #F8F8F8;
  position:absolute;
  bottom:0;
  width:100%;
  height:80px;
  z-index: 3;
}

#mainNav{
    margin-right: 0;
    margin-top: 0px;
}

.navbar {
  z-index: 3;
}

.navbar-brand{
  color: #3498DB;
}

.Blogs-PSA {
  overflow: scroll;
}

.blogsDisplay {
  width: 50%;
  border-right: 1px solid black;
  display: inline;
  float: left;
  padding: 0 2%;
}

.psasDisplay {
  width: 50%;
  float: left;
  padding: 0 2%;
}

@media only screen and (max-width: 830px) {
  .blogsDisplay {
    width: 100%;
    clear: both;
    border-right: none;
    border-bottom: 1px solid black;
    padding-bottom: 3%;
  }

  .psasDisplay {
    width: 100%;
    clear: both;
  }
}
