// Place all the styles related to the Static controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$font-stack:    Helvetica, sans-serif;
$primary-color: #333;


html{
  height:100%;
}

body{
  font: 100% $font-stack;
  color: $primary-color;
  min-height:100%;
  padding:0;
  margin:0;
  position:relative;
  background-color: #f0f0f0;
  overflow-x: hidden;
}

body::after{ content:''; display:block; height:80px; }

footer{
  padding: 15px;
  background-color: #F8F8F8;
  position:absolute;
  bottom:0;
  width:100%;
  height:80px;
  z-index: 1;
}

.navbar {
  z-index: 1;
}
