// Place all the styles related to the transactions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
div {
    padding-bottom: 15px;
}

footer {
  padding: 15px;
  background-color: #F8F8F8;
  position:absolute;
  bottom:0;
  width:100%;
  height:80px;
  z-index: 3;
}


@media screen and (max-width:768px) {
  div {
    width: 75%;
    float: left;
    padding-bottom: 15%
  }

}
