// Place all the styles related to the transactions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
div {
    padding-bottom: 15px;
}


@media screen and (max-width:768px) {
  #this {
    width: 75%;
    float: left;
    padding-bottom: 15%
  }

  footer {
    padding: 15px;
    background-color: #F8F8F8;
    position:sticky;
    bottom:0;
    margin-top: 100%;
    width:100%;
    height:80px;
    z-index: 2;
  }

}
