// Place all the styles related to the transactions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/*@media (max-width:768px) {
  div {
    width: 75%;
    float: left;
  }

  table {
    width: 100%;
    float: left;
    padding-left: 0
  }
} */
