<div class="items show ">
  <h2>Show Item</h2>

  <table>
    <tr>
      <th>Name</th>
      <td><%= @item.name %></td>
    </tr>
    <tr>
      <th>Item Type</th>
      <td><%#= @item.type %><td>
    </tr>
    <tr>
      <th>Item Description</th>
      <td><%= @item.description %><td>
    </tr>
  </table>

</div>
