<div class="transactions info ">

  <table>
    <tr>
      <th>Name</th>
      <td><%= @item.name %></td>
    </tr>
    <% if defined? @item.type %>
      <tr>
        <th>Item Type</th>
        <td><%= @item.type %><td>
      </tr>
    <% end %>
    <% if defined? @item.expiration %>
      <tr>
        <th>Expiration Date</th>
        <td><%= @item.expiration.strftime("%B %d, %Y") %><td>
      </tr>
    <% end %>
    <tr>
      <th>Item Description</th>
      <td><%= @item.description %><td>
    </tr>
  </table>

</div>
