<%= link_to("<<Back to Unreturned Transactions", {:controller => 'transactions', :action => 'notice'}, :class => 'back-link')%>
  <h2>Transaction Log: Returned/Non-returnables</h2>
<% provide(:destination, 'display')%
<%= render 'shared/transactions' %>
