<%= link_to("See Unreturned Transactions", {:controller => 'transactions', :action => 'notice'}, :class => 'back-link')%>
  <h2>Transaction Log: Returned/Non-returnables</h2>
<%= render 'shared/transactions' %>
