<h1>Please enter the Student's id</h1>
<div>
  <%= form_tag(student_item_check_transactions_path, :method => :post) do %>
      <%= text_field_tag :input %>
      <%= submit_tag ("Submit to Check In") %>
  <% end %>
</div>
